* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  color: #EEE;
}
body {
  background: #323232;
  overflow: hidden;
}
div.return {
  position: absolute;
  background: rgba(50,50,50,0.8);
  padding: 10px;
}
div.poll {
  margin: auto;
  width: 717px;
}
iframe {
  width: 100%;
  height: 99%; /* 100% is more than 100% because fuck css :( */
}
/*iframe{width:600px; height:auto; border:0;}
li{margin-left:20px;}*/
a {
  color: white;
}
a:hover {
  color: #7777FF;
}
