* {
	margin:0px;
	padding:0px;
}
body {
	font-family: Arial;
	font-size: 0.9em;
	background: #DDE;
	margin-bottom: 1%;
}
h1 {
	color: #235;
	font-size: 1.75em;
	text-align: center;
}
h2 {
	font-size: 0.8em;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
div {
	overflow: hidden;
}
#container {
	margin: auto;
	min-width: 800px;
	max-width: 1600px;
}
.divider {
	float: left;
	width: 31%;
	margin: 1%;
}
.thumb {
	position: relative;
	width: 98%;
	margin-bottom: 6%;
	border: 2px #AAA solid;
	border-radius: 13px;
}
.thumb img {
	margin-bottom: -1%;
}
.thumb .shelf {
	position: absolute;
	left: 0px; bottom: 0px;
	visibility: hidden;
	background: rgba(0,0,0,0.7);
	color: white;

	width: 100%;
	text-align: center;
	padding-top: 0.7%;
	padding-bottom: 1.3%;
}
.thumb:hover .shelf {
	visibility: visible;
}
.shelf h1 {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
.shelf a {
	color: #BBF;
}
