#container {
    margin: auto;
    margin-top: 2em;
    width: 80%;
    min-width: 600px;
}

pre > code {
    font-size: 1em; /* attempt to size code examples appropriately on mobile */
}

/* this only affects inline <code> tags,
   styling them a little more like the rest
*/
code {
    background: #002b36;
    color: #839496;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

/* make definitions stand out a little */
dt {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.25em;
}
