#gravcanvas {
	/*float:right;
	margin-top:3px;
	margin-left:8px;
	margin-bottom:10px;*/
	background:#000;
	/*border:3px #253350 solid;
	border-radius:10px;*/
	width: 100%;
	height: auto;
	margin-bottom: -2%;
}