h2 > a {
    text-decoration: none;
}

h3 > a {
    text-decoration: none;
}

h3 {
    text-align: right;
}

.post-preview {
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #235;
}

.post-preview > h3 {
    text-align: center;
}
