h2 {
    margin-top: -5px;
    font-size: 1.8em;
}

h3 {
    text-align: center;
    margin-top: -24px;
    font-size: 1em;
}

h2 > a {
    text-decoration: none;
}

h3 > a {
    text-decoration: none;
}

.post-preview {
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #235;
}

.post-preview > h1 {
    font-size: 1.6em;
}
