dl {
    counter-reset: item1;
    display: block;
    width: 90%;
}
dt:before {
    counter-increment: item1;
    content: counter(item1) ". ";
}
dt {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.1em;
}
dd {
    margin-bottom: 0.6em;
    font-size: 1.05em;
}
