td.new {
    background: white;
}
td.pending {
    background: lightblue;
}
td.reviewed {
    background: lightgreen;
}
td.rejected {
    background: #FAA;
}
td.delayed, td.old {
    background: lightgrey;
}
td.priority {
    background: #11aadd;
    color: white;
}
