td.new {
  background: white !important;
}
td.pending {
  background: lightblue !important;
}
td.reviewed {
  background: lightgreen !important;
}
td.rejected {
  background: #FAA !important;
}
td.delayed, td.old {
  background: lightgrey !important;
}
td.priority {
  background: #11aadd !important;
  color: white !important;
}
td.imported {
  background: #ffff66 !important;
}
