* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #EEE;
}

#header, #container, #footer {
  margin: auto;
  width: 80%;
  min-width: 620px;
  max-width: 1000px;
}

/*#container, #footer {
    border: #235 solid 2px;
    margin: auto;
    width: 80%;
    min-width: 620px;
    max-width: 1000px;
    padding: 0.5em;
    background: #FFF;
}*/

#header {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#container, #footer {
  padding: 0.5em;
}

#header {
  background: #2c4475;
  color: white;
  font-weight: bold;
}

.pure-menu-link {
  color: #DDD;
}

.pure-menu-link:hover {
  background: #3f5f8f;
  color: white;
}

.pure-menu-selected .pure-menu-link {
  color: #BABABA;
}

.pure-menu-selected .pure-menu-link:hover {
  color: #CCC;
}

.pure-menu-item {
  background: #2c4475;
}

.pure-menu-children {
  min-width: 110px;
}

/*#container {
    margin-top: 0.8em;
    margin-bottom: 3em;
}*/

#container {
  background: #FFF;
}

h1, h2 {
    text-align: center;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

#container img {
    width: 100%;
}

.yt-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    /*margin-bottom: 1em; /*guesswork*/
}

.yt-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 8px;
    border-radius: 6px;
    background: lightblue;
    margin-bottom: 1em;
}

.info > button {
    float: right;
    font-size: 0.52em;
    background: lightblue;
}

#footer {
  background: #dfe0e0;
}

/*#footer {
  margin: -2px;
  border: 2px solid #235;
  border-bottom: none;
}*/
