* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #EEE;
}

#container, #footer {
    border: #235 solid 2px;
    margin: auto;
    width: 80%;
    min-width: 620px;
    max-width: 1000px;
    padding: 0.5em;
    background: #FFF;
}

#container {
    margin-top: 0.8em;
    margin-bottom: 3em;
}

#footer {
    border-bottom: none;
}

#container img {
    width: 100%;
}

.yt-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    /*margin-bottom: 1em; /*guesswork*/
}

.yt-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

.info {
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 8px;
    border-radius: 6px;
    background: lightblue;
    margin-bottom: 1em; /* will look good on /blog, might look terrible on /ksp */
}

.info > button {
    float: right;
    font-size: 0.52em;
    background: lightblue;
}

/*   DUNNO WHAT THIS WAS FOR BUT IT IS MESSING UP MY KSP STUFF
p {
    margin-top: 0;
}*/
